*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-style: normal;
    margin: 0;
}



/* Header Style */
.header{
    /*background-color: white;*/
    background-size: cover;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner-Image.png");
    border-radius: 16px;
    /*background: ;*/
    max-width: 1320px;
    background-repeat: no-repeat;
    /*flex-shrink: 0;*/
    background-position: top;
    margin: 50px 140px;
    /*border: 0;
    border-radius: 16px;*/

}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 0;
}
.banner-head{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 0;
}
.banner{
    padding: 177px 345px;
    text-align: center;
}

/* 65% off offer Style */
.offer-container{
    margin: 120px 400px ;
    text-align: center;
}
.offer{
    color: #F00;
    /*text-align: center;*/
    font-family: Inter, serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 48px;
}
.offer-des{
    color: #F00;
    /*text-align: center;*/
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.offer-categories{
    color: #070211;
    /*text-align: center;*/
    font-family: Inter, serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}


/* 65% off offer Style */
.midnight-party{
    display: flex;
    margin: 0 140px;
}
.midnight-party-image{
    max-width: 1320px;
    position: relative;
    z-index: 1;
    background-image: url("../images/Vectorrr.png");

}
.midnight-party-container{
    border-radius: 16px;
    position: relative;
    z-index: 2;
    padding: 66px 126px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;

    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");

    /*background-image: url("../images/Vectorrr.png");

    padding: 70px 125px 67px 125px;
    display: flex;*/
/*    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);*/

}
.party-title{
    color: #FFF;
    font-family: Merriweather, serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    margin-top: 57px;
    margin-bottom: 24px;
}
.party-des{
    margin: 0;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    border: none;
    margin-top: 48px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.party-image{
    filter: hue-rotate(350deg);
    /*
    background-color: white;
    */
    /* background-blend-mode: multiply; */
    /*
    mix-blend-mode: multiply;
    */
    /* background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */


    /*position: absolute;
    z-index: 2;*/

}


/* location Style */
.red{
    color: #F00;
    text-align: center;
    font-family: Inter, serif; !important;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.location-data{
    color: #070211;
    font-family: Inter, serif; !important;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0;
}
.location-container{
    margin: 120px 140px;
    border-radius: 16px;
    max-width: 1320px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 376px;
    text-align: center;
}

/* Coming soon Style */
.coming-soon-container{
    background: #FFF;
    margin: 120px 140px;
    display: flex;
    justify-content: space-between;
}
.coming-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.main-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}
.coming-des{
    max-width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}
.coming-left{
    text-align: left;
    margin-top: 105px;
    margin-bottom: 105px;
}
.coming-centre{
    text-align: center;
    horiz-align: center;
    vertical-align: center;
    justify-content: center;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-right: 85px;
    margin-left: 70px;
}
.enjoy{
    margin: 50px;
}
.title{
    color: #F00;
    font-family: Inter, serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 16px;
}
.happy-new-year{
   margin-top: 43px;
    margin-bottom: 0;
}
.coming-right{
    margin-top: 112px;
    margin-bottom: 0;
}

/* Holiday Style */
.holiday-section{
    margin: 0 140px;
    padding: 0;
}
.holiday-upper-section{
    padding: 0 126px;
    text-align: center;
}
.holiday-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.holiday-title-big{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
    margin-top: 16px;
}
.holiday-red{
    color: #F00;
}
.holiday-title-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 64px;
}




.holiday-lower-section{
    margin: 0;

}
.pic-2{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    /*width: 207px;
    height: 207px;
    margin: 10px;*/
}
/*.pic-3{
    position: relative;
    justify-content: right;
    height: 433px;
    width: 430px;
    border-radius: 16px 16px 0 0;
}*/
.pic-1{
    height: 662px;
    position: absolute;
    top: -187%;
    left: 0;
    width: 797px;
    margin: 0;
    padding: 0;
}
.pic-4{

    width: 100%;
    /*position: absolute;*/
    /*margin-top: 433px;
    max-width: 1306px;
    height: 230px;
    border-radius: 16px 0 16px 16px;
    background: #F00;*/
}
.lower-sec-container{
    position: relative;
    margin: 0;
    padding: 0;
}
.lower-sec{
    width: 100%;
}
.upper-sec-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 0;
}
.upper-sec{
    position: relative;
}

/*Portfolio style*/
.our-awesome-portfolio{
    margin: 120px 140px;
}

.portfolio-des{
    max-width: 900px;
    margin-bottom: 48px;
}

.portfolio-img{
    border-radius: 16px;
    height: 450px;
    width: 425px;

}

.portfolio1{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.portfolio2{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}


/*Portfolio style*/

.subscribe-newsletter{
    margin: 120px 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
    text-align: center;
}
.news-des{
    text-align: center;
    max-width: 895px;
    margin-bottom: 48px;
}
.newsletter-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
}
.btn-subscribe{
    color: #FFFFFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0 50px 50px 0;
    background: #F00;
    padding: 24px 56px;
    border: 0;
}
.mail{
    color: rgba(7, 2, 17, 0.60);
    text-align: left;
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 438px;
    border-radius: 50px 0 0 50px;
    padding: 25px 25px 25px 30px;
    border: 0;
}
.send-mail{
    display: flex;
    justify-content: center;
}

.footer-upper-down{
    display: flex;
    justify-content: center;
}
.footer-upper-upper{
    display: flex;
    justify-content: center;
}

.footer-upper{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 50px;
}
.footer-middle{
    display: flex;
    justify-content: center;
}
.footer-down{
    display: flex;
    justify-content: space-between;
}

.footer-section{
    padding: 120px 140px;
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 40px;
    border: 0;

    
}
.call{
    width: 24px;
    height: 24px;
    margin: 8px;
    padding: 0;
}
.footer-middle-img{
    height: 64px;
    width: 64px;
    margin: 12px;
}

footer > hr{
    margin: 36px 0;
    border: 0;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}















