*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-style: normal;
}



/* Header Style */
.header{
    /*background-color: white;*/
    background-size: cover;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner-Image.png");
    border-radius: 16px;
    /*background: ;*/
    /*max-width: 1320px;*/
    background-repeat: no-repeat;
    /*flex-shrink: 0;*/
    background-position: top;
    margin: 50px 140px;
    /*border: 0;
    border-radius: 16px;*/

}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 0;
}
.banner-head{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 0;
}
.banner{
    padding: 177px 345px;
    text-align: center;
}

/* 65% off offer Style */
.offer-container{
    margin: 120px 400px ;
    text-align: center;
}
.offer{
    color: #F00;
    /*text-align: center;*/
    font-family: Inter, serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 48px;
}
.offer-des{
    color: #F00;
    /*text-align: center;*/
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.offer-categories{
    color: #070211;
    /*text-align: center;*/
    font-family: Inter, serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}



